[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/home/homeassistant/ha/bin/hass -c "/home/homeassistant/.homeassistant"

[Install]
WantedBy=multi-user.target